




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(111, 102, 102);
    padding: 30px;
}

.header-demo{

    height: 95vh;
    background-image:linear-gradient(to right bottom,rgba(10, 200, 233, 0.5),rgba(223, 17, 171, 0.5)), url(../img/bg.jpg);
    background-size: cover;
    background-position: right;
    clip-path: polygon(0 0,100% 0, 100% 100%,0 80%);
    position: relative;
}

.logo-box
{
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo
{
  height: 100px;
  width: 80px;
}


.text-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.text-primary
{
    color: #fff;
    text-transform: uppercase;
}

.text-main
{
    display: block;
    font-size: 60px;
    letter-spacing: 80px;
    font-weight: 400;
    animation-name: moveInleft;
    animation-duration: 3s;

}

.text-sub
{
    display: block;
    font-size: 20px;
    letter-spacing: 19px;
    font-weight: 400;
    animation-name: moveInright;
    animation-duration: 3s;

}

@keyframes moveInleft
{
    0%{
      opacity: 0;
      transform: translateX(-100px);
     }

     80%{
        transform: translateX(10px);
     }

     100%{
       opacity: 1;
       transform: translate(0);
     }
     
}
@keyframes moveInright
{
    0%{
      opacity: 0;
      transform: translateX(100px);
     }

     80%{
        transform: translateX(-10px);
     }

     100%{
       opacity: 1;
       transform: translate(0);
     }
     
}




.section-demo{
  
    height: 95vh;
    background-image:linear-gradient(to right bottom,rgba(10, 200, 233, 0.5),rgba(223, 17, 171, 0.5));
    background-size: cover;
    position: relative;
    background-position: center;
    clip-path: polygon(0 0,100% 0, 100% 80%,0 100%);

}

.grid-items1{
  display: inline-block;
  width: 24%;
  height: 100%;
  padding: 5px;   
  padding-left: 5px;
 background-image:linear-gradient(to right bottom,rgba(10, 200, 233, 0.5),rgba(223, 17, 171, 0.5)), url(../img/bg.jpg);
}

.grid-items2{
  display: inline-block;
  width: 24%;
  height: 100%;
  padding: 5px;
  background-image:linear-gradient(to right bottom,rgba(10, 200, 233, 0.5),rgba(223, 17, 171, 0.5)), url(../img/bg.jpg);
}
.grid-items3{
  display: inline-block;
  width: 24%;
  height: 100%;
  padding: 5px;   
  background-image:linear-gradient(to right bottom,rgba(10, 200, 233, 0.5),rgba(223, 17, 171, 0.5)), url(../img/bg.jpg);
}

.grid-items4{
  display: inline-block;
  width: 24%;
  height: 100%;
  padding: 5px;   
  background-image:linear-gradient(to right bottom,rgba(10, 200, 233, 0.5),rgba(223, 17, 171, 0.5)), url(../img/bg.jpg);
}




.icon1{
  text-align: center;
  animation-name: moveInleft;
  animation-duration: 7s;
  width: 50px;
  height: 50px;
  

}

.head{
  text-align: center;
  color: whitesmoke;
  display: block;
    font-size: 20px;
    letter-spacing: 4px;
    padding-top: 1rem;
    animation-name: moveInright;
    animation-duration: 7s;
}

.head-sub{
  text-align: center;
  color: rgb(35, 50, 53);
  display: block;
    font-size: 15px;
    letter-spacing: 2px;
    padding-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}


.footer-demo{
  
  height: 95vh;
  background-image:linear-gradient(to right bottom,rgba(10, 200, 233, 0.5),rgba(223, 17, 171, 0.5));
  background-size: cover;
  
  clip-path: polygon(0 0,100% 20%,100% 100%,0 100%);


}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');



#contact {
  background-image:linear-gradient(to right bottom,rgba(10, 200, 233, 0.5),rgba(223, 17, 171, 0.5));
  background-size: cover;
  clip-path: polygon(0 0,100% 10%, 100% 100%,0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links, .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.contact-links {
  background-color: #1f2e43;
  background:
    radial-gradient(
      circle at 55% 92%, #426691 0 12%, transparent 12.2%
    ), 
    radial-gradient(
      circle at 94% 72%, #426691 0 10%, transparent 10.2%
    ), 
    radial-gradient(
      circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
    ), 
    radial-gradient(
      circle at 0% 0%, #263a53 0 40%, transparent 40.2%
    ), 
    #1f2e43;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

h2 {
  font-family: 'Arimo', sans-serif;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(.95, 1);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

img {
  width: 45px;
  height: 45px;
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
}

img:hover {
  transform: scale(1.1, 1.1);
}

img:active {
  transform: scale(1.1, 1.1);
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #222)
    sepia(0.3);
}

.form-item {
  position: relative;
}

label, input, textarea {
  font-family: 'Poppins', sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: #fd917e;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  h2 {
    font-size: clamp(30px, 12vw, 60px);
  }
  
  .links {
    padding-top: 30px;
  }
  
  img {
    width: 38px;
    height: 38px;
  }
}





